In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../resources/pokemonFill.csv')

In [3]:
df.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,experience_cat,romaji_name
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,65,65,45,grass,poison,6.9,1,0,Medium-Slow,Fushigidane
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,80,80,60,grass,poison,13.0,1,0,Medium-Slow,Fushigisou
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,122,120,80,grass,poison,100.0,1,0,Medium-Slow,Fushigibana
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,60,50,65,fire,None,8.5,1,0,Medium-Slow,Hitokage
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,80,65,80,fire,None,19.0,1,0,Medium-Slow,Lizardo

Add column to mark pokemon with alternate forms, default value of 1

In [4]:
df['forms'] = 1

In [5]:
resistances = df.columns[df.columns.str.contains(r'against')]

In [6]:
df_viz = df[['name', 'type1', 'type2', 'forms']]

In [7]:
df_resistances = df[resistances]

In [8]:
df_viz = pd.concat([df_viz, df_resistances], axis = 1)

In [9]:
df_viz.head()

,name,type1,type2,forms,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,...,against_ghost,against_grass,against_ground,against_ice,against_normal,against_poison,against_psychic,against_rock,against_steel,against_water
0,Bulbasaur,grass,poison,1,1.0,1.0,1.0,0.5,0.5,0.5,...,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
1,Ivysaur,grass,poison,1,1.0,1.0,1.0,0.5,0.5,0.5,...,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
2,Venusaur,grass,poison,1,1.0,1.0,1.0,0.5,0.5,0.5,...,1.0,0.25,1.0,2.0,1.0,1.0,2.0,1.0,1.0,0.5
3,Charmander,fire,None,1,0.5,1.0,1.0,1.0,0.5,1.0,...,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0
4,Charmeleon,fire,None,1,0.5,1.0,1.0,1.0,0.5,1.0,...,1.0,0.50,2.0,0.5,1.0,1.0,1.0,2.0,0.5,2.0

In [10]:
#Change forms for Alola Pokemon to 2
df_viz.iloc[18, 3] = 2
df_viz.iloc[19, 3] = 2
df_viz.iloc[25, 3] = 2
df_viz.iloc[26, 3] = 2
df_viz.iloc[27, 3] = 2
df_viz.iloc[36, 3] = 2
df_viz.iloc[37, 3] = 2
df_viz.iloc[49, 3] = 2
df_viz.iloc[50, 3] = 2
df_viz.iloc[51, 3] = 2
df_viz.iloc[52, 3] = 2
df_viz.iloc[73, 3] = 2
df_viz.iloc[74, 3] = 2
df_viz.iloc[75, 3] = 2
df_viz.iloc[87, 3] = 2
df_viz.iloc[88, 3] = 2
df_viz.iloc[102, 3] = 2
df_viz.iloc[104, 3] = 2

Check and correct type1 and type2 for above

In [11]:
df_viz.iloc[18, 2] = 'None'

In [12]:
df_viz.iloc[19, 2] = 'None'

In [13]:
df_viz.iloc[26, 2] = 'None'

In [14]:
df_viz.iloc[27, 2] = 'None'

In [15]:
df_viz.iloc[36, 2] = 'None'

In [16]:
df_viz.iloc[37, 2] = 'None'

In [17]:
df_viz.iloc[49, 2] = 'None'

In [18]:
df_viz.iloc[50, 2] = 'None'

In [19]:
df_viz.iloc[51, 2] = 'None'

In [20]:
df_viz.iloc[52, 2] = 'None'

In [21]:
df_viz.iloc[87, 2] = 'None'

In [22]:
df_viz.iloc[88, 2] = 'None'

In [23]:
df_viz.iloc[104, 2] = 'None'

Add type1_alt and type2_alt for Alola Forms

In [24]:
df_viz['type1_alt'] = 'None'

In [25]:
df_viz['type2_alt'] = 'None'

In [26]:
df_viz.iloc[18, -2] = 'dark'
df_viz.iloc[18, -1] = 'normal'

In [27]:
df_viz.iloc[19, -2] = 'dark'
df_viz.iloc[19, -1] = 'normal'

In [28]:
df_viz.iloc[25, -2] = 'electric'
df_viz.iloc[25, -1] = 'psychic'

In [29]:
df_viz.iloc[26, -2] = 'ice'
df_viz.iloc[26, -1] = 'steel'

In [30]:
df_viz.iloc[27, -2] = 'ice'
df_viz.iloc[27, -1] = 'steel'

In [31]:
df_viz.iloc[36, -2] = 'ice'
df_viz.iloc[36, -1] = 'None'

In [32]:
df_viz.iloc[37, -2] = 'ice'
df_viz.iloc[37, -1] = 'fairy'

In [33]:
df_viz.iloc[49, -2] = 'ground'
df_viz.iloc[49, -1] = 'steel'

In [34]:
df_viz.iloc[50, -2] = 'ground'
df_viz.iloc[50, -1] = 'steel'

In [35]:
df_viz.iloc[51, -2] = 'dark'
df_viz.iloc[51, -1] = 'None'

In [36]:
df_viz.iloc[52, -2] = 'dark'
df_viz.iloc[52, -1] = 'None'

In [37]:
df_viz.iloc[73, -2] = 'rock'
df_viz.iloc[73, -1] = 'electric'

In [38]:
df_viz.iloc[74, -2] = 'rock'
df_viz.iloc[74, -1] = 'electric'

In [39]:
df_viz.iloc[75, -2] = 'rock'
df_viz.iloc[75, -1] = 'electric'

In [40]:
df_viz.iloc[87, -2] = 'poison'
df_viz.iloc[87, -1] = 'dark'

In [41]:
df_viz.iloc[88, -2] = 'poison'
df_viz.iloc[88, -1] = 'dark'

In [42]:
df_viz.iloc[102, -2] = 'grass'
df_viz.iloc[102, -1] = 'dragon'

In [43]:
df_viz.iloc[104, -2] = 'fire'
df_viz.iloc[104, -1] = 'ghost'

Other forms

In [44]:
df_viz.iloc[412, 3] = 3

In [45]:
df_viz.iloc[412, -2] = 'bug'
df_viz.iloc[412, -1] = 'ground'

In [46]:
#Make columns for third forms
df_viz['type1_alt1'] = 'None'
df_viz['type2_alt1'] = 'None'

In [47]:
df_viz.iloc[412, -2] = 'bug'
df_viz.iloc[412, -1] = 'steel'

In [48]:
df_viz.iloc[412, :]

name                Wormadam
type1                    bug
type2                  grass
forms                      3
against_bug                2
against_dark               1
against_dragon             1
against_electric         0.5
against_fairy              1
against_fight            0.5
against_fire               4
against_flying             4
against_ghost              1
against_grass           0.25
against_ground          0.25
against_ice                2
against_normal             1
against_poison             2
against_psychic            1
against_rock               2
against_steel              1
against_water            0.5
type1_alt                bug
type2_alt             ground
type1_alt1               bug
type2_alt1             steel
Name: 412, dtype: object

In [49]:
df_viz.iloc[478, 3] = 6

In [50]:
#Add columns for up to 6 forms
df_viz['type1_alt2'] = 'None'
df_viz['type2_alt2'] = 'None'
df_viz['type1_alt3'] = 'None'
df_viz['type2_alt3'] = 'None'
df_viz['type1_alt4'] = 'None'
df_viz['type2_alt4'] = 'None'

In [51]:
df_viz.iloc[478, -10] = 'electric'
df_viz.iloc[478, -9] = 'grass'
df_viz.iloc[478, -8] = 'electric'
df_viz.iloc[478, -7] = 'ice'
df_viz.iloc[478, -6] = 'electric'
df_viz.iloc[478, -5] = 'fire'
df_viz.iloc[478, -4] = 'electric'
df_viz.iloc[478, -3] = 'flying'
df_viz.iloc[478, -2] = 'electric'
df_viz.iloc[478, -1] = 'water'

In [52]:
df_viz.iloc[478, :]

name                   Rotom
type1               electric
type2                  ghost
forms                      6
against_bug              0.5
against_dark               2
against_dragon             1
against_electric         0.5
against_fairy              1
against_fight              0
against_fire               1
against_flying           0.5
against_ghost              2
against_grass              1
against_ground             2
against_ice                1
against_normal             0
against_poison           0.5
against_psychic            1
against_rock               1
against_steel            0.5
against_water              1
type1_alt           electric
type2_alt              grass
type1_alt1          electric
type2_alt1               ice
type1_alt2          electric
type2_alt2              fire
type1_alt3          electric
type2_alt3            flying
type1_alt4          electric
type2_alt4             water
Name: 478, dtype: object

In [53]:
df_viz.iloc[491, 3] = 2
df_viz.iloc[491, -10] = 'grass'
df_viz.iloc[491, -9] = 'flying'

In [54]:
df_viz.iloc[491, :]

name                Shaymin
type1                 grass
type2                 grass
forms                     2
against_bug               2
against_dark              1
against_dragon            1
against_electric        0.5
against_fairy             1
against_fight             1
against_fire              2
against_flying            2
against_ghost             1
against_grass           0.5
against_ground          0.5
against_ice               2
against_normal            1
against_poison            2
against_psychic           1
against_rock              1
against_steel             1
against_water           0.5
type1_alt             grass
type2_alt            flying
type1_alt1             None
type2_alt1             None
type1_alt2             None
type2_alt2             None
type1_alt3             None
type2_alt3             None
type1_alt4             None
type2_alt4             None
Name: 491, dtype: object

In [55]:
df_viz.iloc[554, 3] = 2
df_viz.iloc[554, -10] = 'fire'
df_viz.iloc[554, -9] = 'psychic'

In [56]:
df_viz.iloc[554, :]

name                Darmanitan
type1                     fire
type2                     fire
forms                        2
against_bug                0.5
against_dark                 1
against_dragon               1
against_electric             1
against_fairy              0.5
against_fight                1
against_fire               0.5
against_flying               1
against_ghost                1
against_grass              0.5
against_ground               2
against_ice                0.5
against_normal               1
against_poison               1
against_psychic              1
against_rock                 2
against_steel              0.5
against_water                2
type1_alt                 fire
type2_alt              psychic
type1_alt1                None
type2_alt1                None
type1_alt2                None
type2_alt2                None
type1_alt3                None
type2_alt3                None
type1_alt4                None
type2_alt4                None
Name: 554, dtype: object

In [57]:
df_viz.iloc[719, 3] = 2
df_viz.iloc[719, -10] = 'psychic'
df_viz.iloc[719, -9] = 'dark'

In [58]:
df_viz.iloc[719, :]

name                  Hoopa
type1               psychic
type2                 ghost
forms                     2
against_bug               1
against_dark              4
against_dragon            1
against_electric          1
against_fairy             1
against_fight             0
against_fire              1
against_flying            1
against_ghost             4
against_grass             1
against_ground            1
against_ice               1
against_normal            0
against_poison          0.5
against_psychic         0.5
against_rock              1
against_steel             1
against_water             1
type1_alt           psychic
type2_alt              dark
type1_alt1             None
type2_alt1             None
type1_alt2             None
type2_alt2             None
type1_alt3             None
type2_alt3             None
type1_alt4             None
type2_alt4             None
Name: 719, dtype: object

In [59]:
df_viz.iloc[740, 3] = 4
df_viz.iloc[740, 1] = 'electric'

In [60]:
df_viz.iloc[740, -10] = 'fire'
df_viz.iloc[740, -9] = 'flying'
df_viz.iloc[740, -8] = 'psychic'
df_viz.iloc[740, -7] = 'flying'
df_viz.iloc[740, -6] = 'ghost'
df_viz.iloc[740, -5] = 'flying'

In [61]:
df_viz.iloc[740, :]

name                Oricorio
type1               electric
type2                 flying
forms                      4
against_bug             0.25
against_dark               1
against_dragon             1
against_electric           2
against_fairy            0.5
against_fight            0.5
against_fire             0.5
against_flying             1
against_ghost              1
against_grass           0.25
against_ground             0
against_ice                1
against_normal             1
against_poison             1
against_psychic            1
against_rock               4
against_steel            0.5
against_water              2
type1_alt               fire
type2_alt             flying
type1_alt1           psychic
type2_alt1            flying
type1_alt2             ghost
type2_alt2            flying
type1_alt3              None
type2_alt3              None
type1_alt4              None
type2_alt4              None
Name: 740, dtype: object

In [62]:
df_viz.iloc[799, 3] = 3
df_viz.iloc[799, -10] = 'psychic'
df_viz.iloc[799, -9] = 'steel'
df_viz.iloc[799, -8] = 'psychic'
df_viz.iloc[799, -7] = 'ghost'

In [63]:
df_viz.iloc[799]

name                Necrozma
type1                psychic
type2                   None
forms                      3
against_bug                2
against_dark               2
against_dragon             1
against_electric           1
against_fairy              1
against_fight            0.5
against_fire               1
against_flying             1
against_ghost              2
against_grass              1
against_ground             1
against_ice                1
against_normal             1
against_poison             1
against_psychic          0.5
against_rock               1
against_steel              1
against_water              1
type1_alt            psychic
type2_alt              steel
type1_alt1           psychic
type2_alt1             ghost
type1_alt2              None
type2_alt2              None
type1_alt3              None
type2_alt3              None
type1_alt4              None
type2_alt4              None
Name: 799, dtype: object

In [64]:
df_viz.iloc[350, 3] = 4
df_viz.iloc[350, -10] = 'fire'
df_viz.iloc[350, -8] = 'water'
df_viz.iloc[350, -6] = 'ice'

In [65]:
df_viz.iloc[350]

name                Castform
type1                 normal
type2                   None
forms                      4
against_bug                1
against_dark               1
against_dragon             1
against_electric           1
against_fairy              1
against_fight              2
against_fire               1
against_flying             1
against_ghost              0
against_grass              1
against_ground             1
against_ice                1
against_normal             1
against_poison             1
against_psychic            1
against_rock               1
against_steel              1
against_water              1
type1_alt               fire
type2_alt               None
type1_alt1             water
type2_alt1              None
type1_alt2               ice
type2_alt2              None
type1_alt3              None
type2_alt3              None
type1_alt4              None
type2_alt4              None
Name: 350, dtype: object

In [66]:
df_viz.iloc[492, 3] = 18

In [67]:
df_viz.iloc[492]

name                Arceus
type1               normal
type2                 None
forms                   18
against_bug              1
against_dark             1
against_dragon           1
against_electric         1
against_fairy            1
against_fight            2
against_fire             1
against_flying           1
against_ghost            0
against_grass            1
against_ground           1
against_ice              1
against_normal           1
against_poison           1
against_psychic          1
against_rock             1
against_steel            1
against_water            1
type1_alt             None
type2_alt             None
type1_alt1            None
type2_alt1            None
type1_alt2            None
type2_alt2            None
type1_alt3            None
type2_alt3            None
type1_alt4            None
type2_alt4            None
Name: 492, dtype: object

In [68]:
df_viz.iloc[772, 3] = 18

In [69]:
df_viz.iloc[772]

name                Silvally
type1                 normal
type2                   None
forms                     18
against_bug                1
against_dark               1
against_dragon             1
against_electric           1
against_fairy              1
against_fight              2
against_fire               1
against_flying             1
against_ghost              0
against_grass              1
against_ground             1
against_ice                1
against_normal             1
against_poison             1
against_psychic            1
against_rock               1
against_steel              1
against_water              1
type1_alt               None
type2_alt               None
type1_alt1              None
type2_alt1              None
type1_alt2              None
type2_alt2              None
type1_alt3              None
type2_alt3              None
type1_alt4              None
type2_alt4              None
Name: 772, dtype: object

Added types for all alternate forms  
**Exception** Silvally and Arceus have 'forms' 18, so I can do something with that in D3

In [70]:
df_viz['forms'].unique()

array([ 1,  2,  4,  3,  6, 18])

Have template for forms = 1  
forms = 2, split rect into two parts and fill same as forms = 1  
forms = 3, split rect in half, fill left half in dominant type and right half in variegated fill  
forms = 4, for Castform split rect into quarters and for Oricorio fill left half in variegated and right half with flying  
forms = 6, same as forms = 3  
forms = 18, split into 18 as 6x3 with 6 on longer edge

In [71]:
df_viz[df_viz['forms'] == 6]

,name,type1,type2,forms,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,...,type1_alt,type2_alt,type1_alt1,type2_alt1,type1_alt2,type2_alt2,type1_alt3,type2_alt3,type1_alt4,type2_alt4
478,Rotom,electric,ghost,6,0.5,2.0,1.0,0.5,1.0,0.0,...,electric,grass,electric,ice,electric,fire,electric,flying,electric,water

In [72]:
df_viz[df_viz['forms'] == 4]

,name,type1,type2,forms,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,...,type1_alt,type2_alt,type1_alt1,type2_alt1,type1_alt2,type2_alt2,type1_alt3,type2_alt3,type1_alt4,type2_alt4
350,Castform,normal,None,4,1.00,1.0,1.0,1.0,1.0,2.0,...,fire,None,water,None,ice,None,None,None,None,None
740,Oricorio,electric,flying,4,0.25,1.0,1.0,2.0,0.5,0.5,...,fire,flying,psychic,flying,ghost,flying,None,None,None,None

In [73]:
df_viz[df_viz['forms'] == 3]

,name,type1,type2,forms,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,...,type1_alt,type2_alt,type1_alt1,type2_alt1,type1_alt2,type2_alt2,type1_alt3,type2_alt3,type1_alt4,type2_alt4
412,Wormadam,bug,grass,3,2.0,1.0,1.0,0.5,1.0,0.5,...,bug,ground,bug,steel,None,None,None,None,None,None
799,Necrozma,psychic,None,3,2.0,2.0,1.0,1.0,1.0,0.5,...,psychic,steel,psychic,ghost,None,None,None,None,None,None

In [77]:
df_viz = pd.concat([df_viz, df['pokedex_number']], axis = 1)

In [79]:
#Written to csv
#df_viz.to_csv('../resources/pokemonTypes.csv', index=False)

In [78]:
df_viz.columns

Index(['name', 'type1', 'type2', 'forms', 'against_bug', 'against_dark',
       'against_dragon', 'against_electric', 'against_fairy', 'against_fight',
       'against_fire', 'against_flying', 'against_ghost', 'against_grass',
       'against_ground', 'against_ice', 'against_normal', 'against_poison',
       'against_psychic', 'against_rock', 'against_steel', 'against_water',
       'type1_alt', 'type2_alt', 'type1_alt1', 'type2_alt1', 'type1_alt2',
       'type2_alt2', 'type1_alt3', 'type2_alt3', 'type1_alt4', 'type2_alt4',
       'pokedex_number'],
      dtype='object')